body{
    background-color: rgb(240, 242, 245);
    margin:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    min-height: 90vh;
    gap:100px;
    flex-wrap:wrap;
    padding-top:180px;
    font-family: Helvetica, Arial, sans-serif;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
}
.left .logo{
    width: 320px;
    height: auto;
    margin-left:-28px;
}
.text_logo{
    margin-top:-10px;
    color: #1c1e21;
    font-weight: 400;
    font-size:28px;
    pointer-events: none;
}
.right{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-box {
    background: white;
    padding: 20px 16px 28px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 8px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #1877f2;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #3f81ed;
}

.forgot-password {
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;

}

.forgot-password:hover {
    text-decoration: underline;
}

.create-btn {
    width: 60%;
    padding: 14px;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    font-weight:bold;

}

.create-btn:hover {
    background-color: #36a420;
}
hr{
    border:none;
    border-top:1px solid #dadde1;
    width:350px;
    margin:20px 0px;
}
.text_under_create{
    margin-top:28px;
    font-size:14px;
    text-align: center;
    width: 100%;
}
.span{
    font-weight:bold;
    color:black;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif; }

 .span:hover{
        text-decoration: underline;
    }
@media (max-width: 1100px) {
    .container {
        padding-top: 40px;
        gap: 30px;
        align-items: center;
        min-height: auto;
        flex-direction: column;
    }

    .left {
        align-items: center;
        text-align: center;
    }

    .left .logo {
        margin-left: 0;
    }

}



