*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9dcef;
    color:#333;
}
header {
    background-color: #4a90e2;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}
main{
    max-width: 600px;
    margin: 2rem auto;
    background-color: white;
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
form{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}
label{
    position: absolute;
    left: -9999px;
}
input[type='text']{
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
}
button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.add-button{
    background-color: #4a90e2;
    color: white;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e0e0e0;
}
.task-text{
    font-size: 1rem;
}
.task-text.completed{
    text-decoration: line-through;
    color: #888888;
}
.delete{
    background-color: #e74c3c;
    color: white;
}
.task-left input[type="checkbox"]{
    width:20px;
    height: 20px;
    cursor: pointer;
}
.task-left{
    display: flex;
    align-items: center;
    gap:12px;
}